@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  max-width: 100vw;
}

#root {
  flex: 1;
}
